{% extends "base.html" %}
{% load static %}
{% block title %}
    Readme
{% endblock title %}
{% block content %}
    
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Read me</h1>
</div>


<div class="d-grid gap-2">
    <a class="btn btn-primary" href="https://ucliveac-my.sharepoint.com/:b:/g/personal/lhu97_uclive_ac_nz/EaXnJ8PxTbxDhPQRtlUfXK8B-zrW8u7AAr8cdCGhBT4HOg?e=Mg0HL7" target="_blank" rel="noopener noreferrer">Click to download full docs</a>
</div>
<iframe src="https://ucliveac-my.sharepoint.com/personal/lhu97_uclive_ac_nz/_layouts/15/embed.aspx?UniqueId=c327e7a5-4df1-43bc-84f4-11b6551f5caf" width="100%" height="100%" frameborder="0" scrolling="no" allowfullscreen title="docs.pdf"></iframe>




</main>

{% endblock content %}