{% extends "base.html" %}
{% load static %}
{% block title %}
    Deals
{% endblock title %}
{% block content %}
    
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Transactions</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
        <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
        This week
    </button>
    </div>
</div>

<div class="mb-3">
    <form method="post" enctype="multipart/form-data" action="{% url 'select_file' %}">
        {% csrf_token %}
        <legend>Step 1:</legend>
        <p>Select a file including transaction details, with each row representing a transaction</p>
        <div class="mb-3">  
            
            <select id="fileSelector" name="selected_file" class="form-select" aria-label="Default select example">
                {% for file in file_names %}
                    <option value="{{ file }}" {% if file == selected_file %}selected{% endif %}>{{ file }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="d-grid gap-2"><button type="submit" class="btn btn-primary mb-3"> Choose</button></div>
    </form>

    {% if success_message and not confirmation_required %}
    <div class="alert alert-success" role="alert">
        {{ success_message }}
    </div>
    {% endif %}

    {% if sheet_names %}
        <form method="post" enctype="multipart/form-data" action="{% url 'preview_transaction' %}">
        {% csrf_token %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Aww yeah, you successfully choose the transaction file: </p>
            <p>{{selected_file}}.</p>
            <hr>
            <p >Please go to Next step!</p>
            
            <p >Choose the correct tab and supplier.</p>  
          </div>
        <legend>Step 2 : Confirm and Save transaction</legend>
        <div class="mb-3">   
            <label for="formFile" class="form-label">Please choose the Sheet Name for the transaction detail</label>
            <select name="selected_sheet" class="form-select" aria-label="Default select example">
                {% for sheet_name in sheet_names %}
                    <option value="{{ sheet_name }}" {% if selected_sheet == sheet_name %}selected{% endif %}>{{ sheet_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Please choose the correct Supplier Name</label>
            
            <select name="selected_supplier" class="form-select" aria-label="Default select example">
                {% for supplier_name in all_supplier_names %}
                    <option value="{{ supplier_name }}" {% if selected_supplier == supplier_name %}selected{% endif %}>{{ supplier_name }}</option>
                {% endfor %}
            </select>
        </div>
    
        <input type="hidden" name="file_name" value="{{ selected_file }}">
        <div class="d-grid gap-2"><button type="submit" class="btn btn-outline-primary"> Confirm </button></div>
        </form>
    {% endif %}

    {% if df_preview %}
        <div class="alert alert-info" role="alert">
            <legend>Step 3:</legend>
            <strong>This is sheet preview, Please choose skip row and match the column to our standard term:</strong>
            <hr>

            <div class="mb-3">
                <label for="formFile" class="form-label">Here are all column names</label>
                <br>
                <label for="formFile" class="form-label"> If you can't get correct column names, please change skip rows and save  </label>
                <select name="selected_columns" class="form-select" aria-label="Default select example" multiple>
                    {% for column_name in column_names %}
                        <option value="{{ column_name }}">{{ column_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
            <form method="post" enctype="multipart/form-data" action="{% url 'reload_preview' %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="skip_rows">Skip Rows:</label>
                    <input type="number" id="skip_rows" name="skip_rows" min="0" value="{{ skip_rows }}">
                </div>
                <input type="hidden" name="file_name" value="{{ file_name }}">
                <input type="hidden" name="selected_sheet" value="{{ selected_sheet }}">
                <input type="hidden" name="selected_supplier" value="{{ selected_supplier }}">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-outline-primary"> Reload Preview </button>
                </div>
            </form>

        <div>
            {{df_preview|safe}}
        </div>
    {% endif %}

    {% if era_standard_mapping %}
        <div class="alert alert-info" role="alert">
            <legend>Step 4:</legend>
            <label for="formFile" class="form-label">Please match the column to our standard term</label>
        </div>
        <form method="post" enctype="multipart/form-data" action="{% url 'save_transaction' %}">
            {% csrf_token %}
            <div class="mb-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ERA standard</th>
                            <th scope="col">Column Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for era_standard in era_standard_mapping %}
                            <tr>
                                <th scope="row">
                                    {{ forloop.counter }} 
                                </th>
                                <td>{{ era_standard }}</td>
                                <td>
                                    {% if era_standard == 'parent_company_name' %}
                                        <select name="selected_columns_{{ forloop.counter0 }}" class="form-select" aria-label="Default select example">
                                            <option value="" selected disabled>Select Parent Company Name</option>
                                            <option value="None">None</option>
                                            {% for company_name in parent_company_names %}
                                                <option value="{{ company_name }}">{{ company_name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <select name="selected_columns_{{ forloop.counter0 }}" class="form-select" aria-label="Default select example">
                                            <option value="" selected disabled>Select {{ display_name }}</option>
                                            <option value="None">None</option>
                                            {% for column_name in column_names %}
                                                <option value="{{ column_name }}" {% if era_standard == column_name %}selected{% endif %}>
                                                    {{ column_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="file_name" value="{{ file_name }}">
            <input type="hidden" name="selected_sheet" value="{{ selected_sheet }}">
            <input type="hidden" name="selected_supplier" value="{{selected_supplier}}">
            <input type="hidden" name="skip_rows" value="{{ skip_rows }}">
            <div class="d-grid gap 2">
                <button type="submit" class="btn btn-primary"> Save </button>
            </div>
        </form>
    {% endif %}



    {% if success_message %}
    <div class="alert alert-success" role="alert">
        Transactions processed Successfully!
    </div>
    {% endif %}

    {% if error_message%}
    <div class="alert alert-danger" role="alert">
        <strong>Error!</strong> File could not be processed successfully. Please try again later.
        {{error_message}}
    </div>
    {% endif %}
    <!-- Add this section to your transaction_detail.html template -->

    {% if error_data %}
    <label for="skip_rows">Error Rows:</label>
    <div class="alert alert-danger">
    <h4>Error Data:</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            {% for error in error_data %}
            <th>{{ error.1 }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for row in error_data %}
            <tr>
            {% for value in row %}
                <td>{{ value }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endif %}

</div>
    
</main>

{% endblock content %}